@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --headcolor: #333;
  --secondcolor: #0aa39c;
  --color: white;
  --hue: 185;
  --radius: 5.5;
  --size: 4;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  height: 100%;
}

body {
  font-family: "Righteous", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

